<main>
  <header>
    Conversor de unidades de distancia
  </header>
  <section>
    <div class="form">
      <input type="number" [(ngModel)]="value" placeholder="ingresa los metros a convertir" (keyup.enter)="verify()">
      <button (click)="verify()">Verificar</button>
    </div>
  </section>

  <section *ngIf="showTable">
    <p-table [value]="values" [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '30rem'}"
      styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn>Unidad</th>
          <th pResizableColumn>Valor</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-value>
        <tr>
          <td>{{value.unit}}</td>
          <td>{{value.value}}</td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</main>

<p-toast position="top-left"></p-toast>